# DB
ConnectionStrings__DefaultConnection=
ConnectionStrings__Redis=

# JWT
Jwt__Issuer=
Jwt__Audience=
Jwt__SecretKey=

# Maps
GoogleMaps__ApiKey=

# SMTP
EmailSettings__SmtpHost=
EmailSettings__SmtpPort=
EmailSettings__SmtpUser=
EmailSettings__SmtpPass=

# APIs
InternalApi__SharedSecret=
AgentService__BaseUrl=

# Seeding
Seeding__AdminEmail=
Seeding__AdminPassword=
